body
{
	background-image: url("Pictures/Table Tennis Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
h1
{
	text-align : center;
	font-size: 35pt;
	font-family: Verdona, Sans-serif;
	Color: black;
}
h2
{
	text-align : center;
	font-size: 35pt;
	font-family: Verdona, Sans-serif;
	Color: black;	
}
h3
{
	text-align : center;
	font-size: 30pt;
	font-family: Verdona, Sans-serif;
	Color: black;
}
p
{
	margin-top: 20px;
  	margin-bottom: 20x;
	margin-right : 200px;
	margin-left: 200px;
	text-align : justify;
	font-size: 13pt;
}
/*<-----------------------------Table of Content--------------------------->.*/
.h
{
	font-size: 15pt;
}
a:hover
{
	color: green;
}
.ToC
{
	margin-top: 20px;
  	margin-bottom: 20x;
	margin-right : 10px;
	margin-left: 10px;
	font-size: 17pt; 
}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid green;
    padding: 10px;
	text-align: center;
}

